Your Jobs page
<br>
Total Hours:  XX
Team Hours: <%= @team_hours / 3600 %>
Organization Hours: <%= @org_hours %>
<br>
<table>
  <tr>
  <th> #id </th>
  <th> Event Name </th>
  <th> Event Type </th>
  <th> Event Date</th>
  <th> Hours </th>
  <th></th>
  </tr>
  <tr>
<% @jobs.each do |job| %>
  <td><%= job.id %></td>
  <td><%= job.event.event %></td>
  <td><%= job.event.event_type %></td>
  <td><%= job.event.event_time_start %> to
  <%= job.event.event_time_finish %></td>
  <td><%= ((job.event.event_time_finish.to_i - job.event.event_time_start.to_i) / 3600) %></td>
  <td><%= link_to 'Show', job, class: 'btn btn-default' %>
  <%= link_to 'Edit', edit_event_path(job), class: 'btn btn-default' %>
  <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %></td>
  </tr>
<% end %>
</table>
<% if @jobs == [] %>
"Help the Team... sad face... :-(
<% end %>
<%= link_to 'Back', root_path, class: 'btn btn-default' %>

<%= link_to 'Apply for slot', new_job_path , class: 'btn btn-default'%>
