Avalable jobs

<%= @date %>
<br>

<% @events.each do |event| %>
<% if current_user.user_level == 'Managment' %>
    <%= event.event %> date: <%= event.event_time_start %>- id# <%= event.id %> -
  Slots: <%= event.slots %> / <%= event.jobs_count %>
    <% if event.expired? == false %>
      <button type="button" class="btn btn-default"> Expired </button>
    <% elsif event.overbooked? == true %>
      <button type="button" class="btn btn-danger"> Overbooked </button>
    <% elsif event.full? == true %>
      <button type="button" class="btn btn-warning"> Full </button>
    <% elsif event.already_applied?(current_user) %>
      <button type="button" class="btn btn-info"> Already Applied </button>
    <% else %>
      <%= form_for(@job) do |f| %>
      <%= f.hidden_field :event_id, :value => event.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class='action'>
      <%= f.submit :class => "btn btn-success btn-mini" %>
      </div>
      <% end %>
    <% end %>
<% end %>

    <% if event.expired? == true and event.overbooked? == false and event.full? == false and event.already_applied?(current_user) == false and current_user.user_level != 'Managment' %>
  <%= event.event %> date: <%= event.event_time_start %>- id# <%= event.id %> - Slots: <%= event.slots %> / <%= event.jobs_count %>
         <%= form_for(@job) do |f| %>
            <%= f.hidden_field :event_id, :value => event.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <div class='action'>
            <%= f.submit :class => "btn btn-success btn-mini" %>
            </div>
         <% end %>
    <% end %>
<% end %>
<br>
<%= link_to 'Back', jobs_path, class: 'btn btn-default' %>
