
<div>
<strong>#id - </strong><%= @job.id %><br>
<strong>Event Name - </strong><%= @job.event.event %><br>
<strong>Event Type - </strong><%= @job.event.event_type %><br>
<strong>Event Date/Time - </strong><%= @job.event.event_time_start %> to
  <%= @job.event.event_time_finish %> - <strong><%= ((@job.event.event_time_finish.to_i - @job.event.event_time_start.to_i) / 3600) %> Hours </strong><br>
<strong>Event Location - </strong><%= @job.event.location %><br>
<br>

INSERT MAP / PHOTO OF LOCATION HERE.

</div>

<%= link_to 'Back', jobs_path, class: 'btn btn-default'  %>
