<table class="index_table">
<tr>
  <th> #id </th>
  <th> Event Name </th>
  <th> Event Type </th>
  <th></th>
</tr>
<% @events.each do |event| %>
  <tr>
    <td><%= event.id %></td>
    <td><%= event.event %></td>
    <td><%= event.event_type %></td>
    <td><%= link_to 'Show', event, class: 'btn btn-default' %>
    <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-default' %>
    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New event', new_event_path, class: 'btn btn-default' %>

<%= link_to 'Back', root_path, class: 'btn btn-default' %>
